body
{
   margin:5px 5px 5px 5px
}

div,1
{
   background-color:green;
   background-image:radial-gradient(#DD2211,#DDD222,#00CCDE);
   border-top-width:20px;
   color:blue;
   font-family:Comic Sans MS,cursive,sans-serif;
   font-size:20px;
   font-weight:600;
   height:400px;
   width:400px
}

div，2
{
   background-color:yellow;
   background-image:url(https://tse2-mm.cn.bing.net/th/id/OIP-C.-8lbGu-HB4Or2ucE0Ns2JwHaNJ?w=186&h=331&c=7&r=0&o=5&dpr=1.3&pid=1.77);
   background-repeat:no-repeat;
   color:red;
   font-family:Comic Sans MS,cursive,sans-serif;
   font-weight:600;
   height:500px;
   width:800px
}

div,3
{
   background-color:orange;
   border-radius:200px/150px;
   -webkit-border-radius:200px/150px;
   -moz-border-radius:200px/150px;
   height:300px;
   transform-origin:40% 40%;
   width:6000px